<!-- Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2 -->

<div class=" bookbox well thumbnail" style="margin:2px;">

    <div class="row" style="clear: right;">
        <div class="col-md-4">

            <img class="image" *ngIf="(booklist?.cover?.length !== 0 && booklist?.cover !== 'cover')"
                style="margin-bottom:5px;" src="https://covers.openlibrary.org/b/id/{{booklist.cover}}-M.jpg">
            <img class="image" *ngIf="(booklist?.cover?.length === 0 || booklist?.cover === 'cover')"
                style="margin-bottom:5px;" src="./assets/images/generic.jpg">
        </div>


        <div class="col-md-8" style="vertical-align: top">

            <div class="row no-pad">

                <div class="col-md-12 no-pad">
                    <h2 class="heading">
                        <a (click)="loadBook(booklist.id)" [routerLink]="['/book/' , booklist.id]">
                            {{ (booklist.title.length>30)? (booklist.title | slice:0:30)+'...':(booklist.title) }}
                        </a>
                    </h2>
                </div>
            </div>
            <div class="row no-pad">


                <div class="col-md-12 no-pad">
                    <img src="./assets/images/swap1.jpg" height="20px;" *ngIf="(booklist.option | lowercase) === 'swap'">
                    <img src="./assets/images/donate1.jpg" height="20px;" *ngIf="(booklist.option | lowercase) === 'donate'">
                    <img src="./assets/images/available.jpg" height="20px;" *ngIf="(booklist.status | lowercase) === 'available'">
                    <img src="./assets/images/swapped.jpg" height="20px;" *ngIf="(booklist.status | lowercase) === 'swapped'">
                    <img src="./assets/images/donated.jpg" height="20px;" *ngIf="(booklist.status | lowercase) === 'donated'">
                </div>
            </div>

            <div class="row no-pad" style="clear: right;">

                <div class="col-md-12 no-pad top-space" style="vertical-align: top;color:#5090cc">
                    <div><strong>Author:</strong> {{booklist.author}}</div>
                    <div><strong>Publisher:</strong> {{booklist.publisher}}</div>
                    <div><strong>Condition:</strong> {{booklist.condition}}</div>
                </div>
            </div>
        </div>
    </div>



</div>