<!-- Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2 -->

<div style="background-color:white;">

    <div class="container-fluid"
        style="padding-top:5px;background-color: white;padding-left:10px;padding-right:10px;padding-top:5px;">

        <div class="row" style="margin-bottom:10px;margin-left:10px;">

            <div class="col-md-4" style="text-align: center;">
                <span style="color:#31b0d5;"> Owner </span>
                <div class="btn-group btn-group-sm" style="margin-right:20px">
                    <button class="btn btn-info" [class.active]="filterbyOwnerValue==='mine'"
                        (click)="filterBooksOwner('mine')">Mine</button>
                    <button class="btn btn-info" [class.active]="filterbyOwnerValue==='other'"
                        (click)="filterBooksOwner('other')">Other</button>
                    <button class="btn btn-info" [class.active]="filterbyOwnerValue==='all'"
                        (click)="filterBooksOwner('allowners')">All</button>
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <span style="color:#449d44;"> Condition </span>
                <div class="btn-group btn-group-sm" style="margin-right:20px">
                    <button class="btn btn-success" [class.active]="filterbyConditionValue==='new'"
                        (click)="filterBooksCondition('new')"> New</button>
                    <button class="btn btn-success" [class.active]="filterbyConditionValue==='good'"
                        (click)="filterBooksCondition('good')"> Good</button>
                    <button class="btn btn-success" [class.active]="filterbyConditionValue==='fair'"
                        (click)="filterBooksCondition('fair')"> Fair</button>
                    <button class="btn btn-success" [class.active]="filterbyConditionValue==='all'"
                        (click)="filterBooksCondition('all')"> ALL</button>

                </div>
            </div>


            <div class="col-md-4" style="text-align: center;">





                <span style="color:#ec971f;"> Type </span>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-warning" [class.active]="filterbyOptionsValue==='swap'"
                        (click)="filterBooksOption('swap')">Swap</button>
                    <button class="btn btn-warning" [class.active]="filterbyOptionsValue==='donate'"
                        (click)="filterBooksOption('donate')"> Donate</button>
                    <button class="btn btn-warning" [class.active]="filterbyOptionsValue==='all'"
                        (click)="filterBooksOption('all')"> ALL</button>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="(searchTerm || (visibleBooks.length > 0 && total > 10))"
            style="margin-bottom:10px;margin-left:10px;margin-right:10px;background-color: #f2f2f2;">
            <div class="col-md-4" style="text-align: center;">
                <span style="color:grey;" *ngIf="(searchTerm)">Search For: <button disabled>{{ searchTerm }} </button>
                    <a [routerLink]="['/books/']" (click)="resetSearch()">
                        <span style="color:grey;" id="icon" class="glyphicon glyphicon-remove"></span>
                        <span style="color:grey;">Clear Search </span>
                    </a>
                </span>

            </div>

            <div class="col-md-8" style="text-align: right;">
                <pagination-controls *ngIf="visibleBooks.length !== 0 && total > 10" (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top:5px;padding-left:15px;padding-right:15px;">

        <div *ngFor="let book of realBooks | paginate: { itemsPerPage: 10, currentPage: p+1, totalItems: total }"
            class="col-md-6" style="padding-left:10px;padding-right:10px;padding-bottom:5px;">
            <app-books-thumbnail #thumbnail [booklist]="book"></app-books-thumbnail>
        </div>
    </div>

    <div *ngIf="fetchingBooks" class="container-fluid"
    style="height:400px;padding-top:5px;background-color: white;padding-left:10px;padding-right:10px;padding-top:5px;">
    <div class="row" style="margin-bottom:10px;margin-left:10px;text-align:center">

        <p style="margin-top:30px">
            <span style="color:grey;margin-top:30px;">We're fetching your books ... </span>
        </p>
        <p style="margin-top:30px">
            <img margin:auto src="./assets/images/booksearch.jpg" width="100%" style="max-width: 150px;">
        </p>


    </div>
</div>


    

    <div *ngIf="visibleBooks.length === 0" class="container-fluid"
        style="height:400px;padding-top:5px;background-color: white;padding-left:10px;padding-right:10px;padding-top:5px;">
        <div class="row" style="margin-bottom:10px;margin-left:10px;text-align:center">

            <p style="margin-top:30px">
                <span style="color:grey;margin-top:30px;">There were no search results found. Try again</span>
            </p>
            <p style="margin-top:30px">
                <img margin:auto src="./assets/images/notfound.png" width="100%" style="max-width: 200px;">
            </p>


        </div>
    </div>




    <div *ngIf="visibleBooks.length !== 0 && total > 10" class="row" style="margin-bottom:10px;margin-left:10px;margin-right:10px;background-color: #f2f2f2;">
        <div class="col-md-4" style="text-align: center;"></div>

        <div class="col-md-8" style="text-align: right;">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </div>

    </div>

</div>