 .well div { color: #bbb;  background-color: #fafafa;}
 .thumbnail { min-height: 100px; background-color: #fafafa;}
 .green { color: #26b026 !important;}
 .bold { font-weight: bold; }
 .bookbox
{    border-radius: 25px;
    border: 2px solid #73AD21;
  
   background-color: #fafafa !important;
}


        