<div class="well pointable">

    <div style="float:right;display:block;" class="row"  > 
        <div *ngIf="!visible" class="col-md-12">
            <span class="glyphicon glyphicon-eye-open green" (click)="toggleContent()"></span>
            <span class="mini-view" (click)="toggleContent()">Quick View</span>
        </div>

        <div *ngIf="visible" class="col-md-12">
            <span class="glyphicon glyphicon-remove green" (click)="toggleContent()"></span>
            <span class="mini-view" (click)="toggleContent()">Close</span>
        </div>
    </div>

        <ng-content select="[well-category]"></ng-content>
        <ng-content select="[well-title]"></ng-content>

    <ng-content select="[well-body]" *ngIf="visible"></ng-content>


</div>