/*
* Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2
*
*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

#foundbanner{
  position: absolute;
  top: 0px;
  left:0px;
}




