<div class="container-fluid" style="background-color: white;color:#5090cc">

  <div class="row" style="margin-top:30px;margin-bottom: 30px;">
    <div class="card mb-3">
      <div>
        <h1 class="card-title" align="center"><strong>Book Details: {{ book?.title }}</strong></h1>

        <h1 class="card-title" align="center"><strong>Book Details: {{ (realBook$ | async)?.title }}</strong></h1>


        <hr>
      </div>
      <div class="row g-0">
        <div class="col-md-4" style="text-align:center">
          <img *ngIf="(book?.cover?.length !== 0 && book?.cover !== 'cover')" style="margin-bottom:40px;"
            src="https://covers.openlibrary.org/b/id/{{book?.cover}}-M.jpg" class="image-fluid">
          <img *ngIf="(book?.cover?.length === 0 || book?.cover === 'cover')" style="margin-bottom:40px;"
            src="./assets/images/generic.jpg" class="image-fluid">

        </div>
        <div class="col-md-8">
          <div class="card-body" style="margin-left:10px;">
            <div style="width:100%">
              <div class="col-md-3"><strong>Author(s):</strong></div>
              <div class="col-md-9">{{ book?.author }}</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>Publisher:</strong></div>
              <div class="col-md-9">{{ book?.publisher }}</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>ISBN:</strong></div>
              <div class="col-md-9">{{ book?.isbn }}</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>Pages:</strong></div>
              <div class="col-md-9">{{ book?.numPages }}</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>Condition:</strong></div>
              <div class="col-md-9">{{ book?.condition }}</div>
            </div>
            <div>
              <div class="col-md-3"><strong>Status:</strong></div>
              <div class="col-md-9">{{ book?.status }}</div>
            </div>
            <div>
              <div class="col-md-3"><strong>Option:</strong></div>
              <div class="col-md-9">{{ book?.option }}</div>
            </div>

            <div class="spaced">
             <button class="btn btn-info" *ngIf="book?.cover && book?.cover?.length !== 0"  (click)="buildBookHref()"><span class="glyphicon glyphicon-search"></span> Find Out More</button>
            <button class="btn btn-warning" (click)="removeBook()"><span class="glyphicon glyphicon-trash"></span>Delete Book</button>
            <button class="btn btn-success" (click)="requestSwap()"><span class="glyphicon glyphicon-transfer"></span>RequestSwap</button>
              
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-6">
      <div><strong>Title:</strong> {{book.title}}</div>
    </div>
    <div class="col-md-6">
      <div><strong>ISBN:</strong> {{book.isbn}}</div>
    </div>
    <div class="col-md-6">
      <div><img src="https://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg"></div>
    </div>
    <div class="col-md-6">
      <div><strong>Author:</strong> {{book.author}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Condition :</strong>
        {{book.condition}}<br />
      </address>
    </div>
    <div class="col-md-6">
      <div><strong>Date:</strong> {{book.addedDate | date:'dd-MM-yyyy'}}</div>
    </div>
  </div> -->
</div>