<div class="container-fluid" style="background-color: white;color:#5090cc">

  <div class="row" style="margin-top:30px;margin-bottom: 30px;">
    <div class="card mb-3">
      <div>
        <h1 class="card-title"><strong>Book Details: {{ book?.title }}</strong></h1>

        <hr>
      </div>
      <div class="row g-0">
        <div class="col-md-4" style="text-align:center">
          <img *ngIf="(book?.cover?.length !== 0 && book?.cover !== 'cover')" style="margin-bottom:40px;"
            src="https://covers.openlibrary.org/b/id/{{book?.cover}}-M.jpg" class="image-fluid">
          <img *ngIf="(book?.cover?.length === 0 || book?.cover === 'cover')" style="margin-bottom:40px;"
            src="./assets/images/generic.jpg" class="image-fluid">

        </div>
        <div class="col-md-8">
          <div class="card-body" style="margin-left:10px;">
            <div style="width:100%">
              <div class="col-md-3"><strong>Author(s):</strong></div>
              <div class="col-md-9">{{ book?.author }}</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>Publisher:</strong></div>
              <div *ngIf="(book?.publisher)" class="col-md-9">{{ book?.publisher }}</div>
              <div *ngIf="!(book?.publisher)" class="col-md-9">N/A</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>ISBN:</strong></div>
              <div class="col-md-9">{{ book?.isbn }}</div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>Pages:</strong></div>
              <div class="col-md-9">{{ (book?.numPages == 0) ? '-' :  book?.numPages }} </div>
            </div>
            <div style="width:100%">
              <div class="col-md-3"><strong>Condition:</strong></div>
              <div class="col-md-9">{{ book?.condition | titlecase }}</div>
            </div>
            <div>
              <div class="col-md-3"><strong>Status:</strong></div>
              <div class="col-md-9"> {{ book?.status | titlecase }}</div>
            </div>
            <div>
              <div class="col-md-3"><strong>Option:</strong></div>
              <div class="col-md-9">{{ book?.option | titlecase}}</div>
            </div>

            <div class="spaced">
              <button class="btn btn-info" *ngIf="book?.cover && book?.cover?.length !== 0"
                (click)="buildBookHref()"><span class="glyphicon glyphicon-search"></span> Find Out More</button>
              <button *ngIf="book?.ownerId === ownerId" class="btn btn-warning" (click)="removeBook()"><span
                  class="glyphicon glyphicon-trash"></span>Delete Book</button>
              <button
                *ngIf="(book?.ownerId !== ownerId) && (book?.status?.toLowerCase()  === bookStatus.Available.toLowerCase()) && (book?.option?.toLowerCase() === bookOption.Swap.toLowerCase())"
                class="btn btn-success" (click)="requestSwap('swap')"><span
                  class="glyphicon glyphicon-transfer"></span>RequestSwap</button>
              <button
                *ngIf="(book?.ownerId !== ownerId) && (book?.status?.toLowerCase()  === bookStatus.Available.toLowerCase()) && (book?.option?.toLowerCase() === bookOption.Donate.toLowerCase())"
                class="btn btn-success" (click)="requestSwap('donate')"><span
                  class="glyphicon glyphicon-share-alt"></span>RequestDonation</button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>