/*
* Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2
*
*/
.container {
    padding-left: 20px;
    padding-right: 20px;
}

.book-image {
    height: 100px;
}

.glyphicon {
    vertical-align: middle;
    margin-right: 5px;
}

.card-title {
    text-align: center;
}

.btn {
    border-radius: 4px;
    margin: 8px;
    margin-top: 40px;
}


.btn-warning:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: rgb(244, 67, 54) !important;
}