<div class="navbar navbar-default" style="margin-bottom:1px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">The Big Book Swap</a>
      <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    </div>

   

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul *ngIf="auth.isAuthenticated()"  class="nav navbar-nav">
        <li>
          <a class="tstnav" (click)="setUp('books')" [routerLink]="['books']" >All Books</a>
        </li>
        <li>
          <a class="tstnav" (click)="setUp('book/new')" [routerLink]="['book/new']">Add Book</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Swaps
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="searchSwaps('all')">All </a></li>
            <li><a (click)="searchSwaps('sent')" [routerLink]="['swaps', 'sent']">Sent</a></li>
            <li><a (click)="searchSwaps('received')" [routerLink]="['swaps', 'received']">Received </a></li>
            <li><a (click)="searchSwaps('pending')" [routerLink]="['swaps', 'pending']">Pending </a></li>
            <li><a (click)="searchSwaps('done')" [routerLink]="['swaps', 'done']">Completed </a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-right">

        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="tst">
              <a *ngIf="auth.isAuthenticated()" (click)="logUserOut()" [routerLink]="['user/login']"><span style="color:white;">Logout</span></a>
            </li>
            <li class="tst">
              <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']"><span style="color:white;">Login</span></a>
            </li>
          </ul>
        </div>

        <div id="loginbox" class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="tst">
              <a *ngIf="this.auth.isAuthenticated()"   (click)="openProfileDialog()" [routerLink]=""><span style="color:blue;">Welcome
                  {{this.auth.getusername()}} </span><img
                  src="./assets/images/icons/{{auth.currentUser.avatar | lowercase}}.jpg" height="30px;"></a>
            </li>
          </ul>
        </div>
      </div>
      
      <form  *ngIf="this.auth.isAuthenticated()"  id="searchForm" class="navbar-form navbar-right" (ngSubmit)="searchBooks(searchTerm)">
        <div class="form-group" >
          <input [disabled]="getSearchTerm() ? true : false" [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control"
            placeholder="{{getSearchTerm() ? getSearchTerm() : 'Enter search'}}">
        </div>
        <button class="btn btn-default btn-navbar">
          Search
        </button>
      </form>
    </div>
  </div>



  <div style="background-color: white;text-align: center;">
    <img class="hidden-sm hidden-xs" margin:auto src="./assets/images/bbs-logo-color.jpg" width="100%"
      style="max-width: 80px;margin-right:120px;">
    <img margin:auto src="./assets/images/bookswap-logo.jpg" width="100%" style="max-width: 400px;">
    <img class="hidden-sm hidden-xs" margin:auto src="./assets/images/crest.png" width="100%"
      style="max-width: 80px;margin-left:120px;">
  </div>

</div>

<!-- <section class="mat-button-container">
  <h2>Angular Material dialog</h2>
  <div class="example-button-row">
    <button mat-raised-button (click)="openDialog()">
      Angular Material Alert
    </button> -->
<!-- <button mat-raised-button color="primary" (click)="confirmDialog()">
      Confirm
    </button>
    <button mat-raised-button color="accent" (click)="showPrompt()">
      Prompt Input
    </button> -->
<!-- </div>
</section> -->