<!-- Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2 -->

<div mat-dialog-title style="float: right; font-weight: 700; cursor: pointer; margin-bottom: 0px;" (click)="close()">
  <span style="color:grey;" id="icon" class="glyphicon glyphicon-remove"></span></div>

<div>
  <h1>Your Profile: {{ profileUser }} </h1>
  <hr>

  <div style="text-align: center;" class="col-md-12 header">
    <div class="col-md-4"> <span class="books">Book Count: {{getAuthenticatedUserBooks()}}</span></div>
    <div class="col-md-4"> <span class="swaps">Swap Count:{{getAuthenticatedUserSwaps()}}</span></div>
    <div class="col-md-4"> <span class="donations">Donations Count: {{getAuthenticatedUserDonations()}}</span></div>
  </div>


  <div [formGroup]="profileForm" class="col-md-12">
    <form (ngSubmit)="saveProfile()" autocomplete="off" novalidate>

      <div class="form-group">



        <div [formGroup]="profileForm" class="form-group">
          <div class="parent">
            <div class='child'>
              <mat-form-field class="display:inline" appearance="fill">
                <mat-label>Avatar</mat-label>

                <mat-select (selectionChange)="changeImageSource($event)" [formControl]="avatar" name="selectedavatar">
                  <mat-option *ngFor="let category of categories" [value]="category.viewValue">
                    <img height="40px" src="./assets/images/icons/{{ category.viewValue | lowercase }}.jpg" />
                    {{ category.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class='child'>
              <img class="display:inline" id="avimg" [src]="selectedavatar?.image" width="150px">

            </div>

          </div>
        </div>



      </div>



      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" (click)="close()" class="btn btn-default">Cancel</button>
      </div>


    </form>
  </div>


</div>