<!-- Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2 -->

<div style="background-color:white;">

    <!-- <ul>
    <li *ngFor="let book of allbooks">{{book.id}}</li>
    </ul> -->
    <div class="container-fluid"
        style="padding-top:5px;background-color: white;padding-left:10px;padding-right:10px;padding-top:5px;">
        <div class="row" style="margin-bottom:10px;margin-left:10px;">


        </div>
    </div>

    <div id="headerRow" class="grey bottom" style="color: #5090cc;">
        <div class="col-md-2 grey bottom" style="text-align:center;"><strong>Cover</strong></div>
        <div class="col-md-2 grey bottom"><strong>Title</strong></div>
        <div class="col-md-2 grey bottom"><strong>Author</strong></div>
        <div class="col-md-2 grey bottom"><strong>Date</strong></div>
        <div class="col-md-2 grey bottom"><strong>Status</strong></div>
        <div class="col-md-2 grey bottom"><strong>Options</strong></div>

    </div>

    <div class="row" style="margin-top:5px;padding-left:15px;padding-right:15px;">

        <div style="color: #5090cc" *ngFor="let swap of swapResults; let even = even ; let odd = odd;" class="col-md-12"
            style="padding-left:15px;padding-right:15px;">




            <div class="row" [ngClass]="{oddStyle: odd , evenStyle:even}"
                style="color: #5090cc;display:flex;align-items:baseline;height:100%">
                <div class="col-md-2  no-pad" style="text-align:center;"><img
                        *ngIf="(  (swap.offerMember?.bookCover?.length !== 0) )"
                        style="margin-top:10px;margin-bottom:10px;"
                        src="https://covers.openlibrary.org/b/id/{{swap.offerMember?.bookCover}}-S.jpg"
                        class="image-fluid">
                    <img *ngIf="!(swap.offerMember?.bookCover) || swap.offerMember?.bookCover === 'cover'"
                        style="margin-bottom:10px;height:60px;" src="./assets/images/generic.jpg" class="image-fluid">
                </div>
                <div class="col-md-2 no-pad">
                    <span *ngIf="swap.offerMember?.ownerId === usr" class="glyphicon glyphicon-arrow-right"
                        style="color:#5090cc"></span>
                    <span *ngIf="!(swap.offerMember?.ownerId === usr)" class="glyphicon glyphicon-arrow-left"
                        style="color:#449d44"></span>
                    <a [routerLink]="['/swap/' , swap.id]"> {{ swap.offerMember?.bookTitle }}
                    </a>
                </div>
                <div class="col-md-2 no-pad">
                    {{ swap.offerMember?.bookAuthor }}
                </div>
                <div class="col-md-2 no-pad">
                    {{ swap.createdDate | date: 'dd-MMM-yyyy' }}
                </div>
                <div class="col-md-2 no-pad">
                    <strong>{{ swap.type | titlecase }} </strong>{{ swap.status }}
                </div>
                <div class="col-md-2 no-pad">
                    <button class="btn btn-primary"
                        *ngIf="swap.status === 'Requested' && swap.recipientMember?.ownerId == usr && swap.type === 'swap'"
                        (click)="openViewAvailableSwapBooksDialog(swap.id,swap.offerMember?.ownerId)">
                        <span class="glyphicon glyphicon-book"></span>
                        View Swaps
                    </button>
                    <button class="btn btn-success"
                        *ngIf="swap.status === 'Requested' && swap.recipientMember?.ownerId == usr && swap.type === 'donate'"
                        (click)="acceptDonate(swap)">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Accept
                    </button>
                    <button disabled class="btn btn-info"
                        *ngIf="swap.status === 'Requested' && swap.offerMember?.ownerId == usr && swap.recipientMember?.ownerId != usr"
                        (click)="openViewAvailableSwapBooksDialog(swap.id,swap.offerMember?.ownerId)">
                        <span class="glyphicon glyphicon-time"></span>
                        Waiting ...
                    </button>
                    <button class="btn btn-success" *ngIf="swap.status === 'Accepted'" (click)="completeSwap(swap)">
                        <span class="glyphicon glyphicon-check"></span>
                        Complete
                    </button>
                    <button disabled *ngIf="swap.status === 'Complete' || swap.status === 'Donation Made'"
                        class="btn btn-warning">
                        <span class="glyphicon glyphicon-star"></span> Well Done
                    </button>
                </div>
            </div>



            <div *ngIf="swap.status === 'Complete' && swap.type === 'swap'" [ngClass]="{oddStyle: odd , evenStyle:even}"
                class="row" style="color: #5090cc;display:flex;height:100%">
                <div class="col-md-2  no-pad" style="text-align:center;"><img
                        *ngIf="(  (swap.offerMember?.bookCover?.length !== 0) )" style="margin-bottom:10px;"
                        src="https://covers.openlibrary.org/b/id/{{swap.recipientMember?.bookCover}}-S.jpg"
                        class="image-fluid">
                    <img *ngIf="!(swap.recipientMember?.bookCover) || swap.recipientMember?.bookCover === 'cover'"
                        style="margin-bottom:10px;height:60px;" src="./assets/images/generic.jpg" class="image-fluid">
                </div>
                <div class="col-md-2 no-pad">
                    <span *ngIf="swap.recipientMember?.ownerId === usr" class="glyphicon glyphicon-arrow-right"
                        style="color:#5090cc"></span>
                    <span *ngIf="!(swap.recipientMember?.ownerId === usr)" class="glyphicon glyphicon-arrow-left"
                        style="color:#449d44"></span>
                    <a [routerLink]="['/swap/' , swap.id]"> {{ swap.recipientMember?.bookTitle }}
                    </a>
                </div>
                <div class="col-md-2 no-pad">
                    {{ swap.recipientMember?.bookAuthor }}
                </div>
                <div class="col-md-6 no-pad">
                    &nbsp;
                </div>


            </div>

        </div>

    </div>
</div>


<div *ngIf="!searchComplete " class="container-fluid"
    style="height:400px;padding-top:5px;background-color: white;padding-left:10px;padding-right:10px;padding-top:5px;">
    <div class="row" style="margin-bottom:10px;margin-left:10px;text-align:center">

        <p style="margin-top:30px">
            <span style="color:grey;margin-top:30px;">Searching ......</span>
        </p>
    </div>
</div>

<div *ngIf="swapResults.length === 0 && searchComplete " class="container-fluid"
    style="height:400px;padding-top:5px;background-color: white;padding-left:10px;padding-right:10px;padding-top:5px;">
    <div class="row" style="margin-bottom:10px;margin-left:10px;text-align:center">

        <p style="margin-top:30px">
            <span style="color:grey;margin-top:30px;">There were no search results found. Try again</span>
        </p>
        <p style="margin-top:30px">
            <img margin:auto src="./assets/images/notfound.png" width="100%" style="max-width: 200px;">
        </p>


    </div>
</div>
<!-- <h3>{{thumbnail.someProperty}}</h3> -->
<!-- <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log Foo</button> -->
<!-- (eventClick)="handleEventClicked($event)" -->