a { color: #bbb; text-decoration: none;}

#icon {margin-left: 25px;}
.v-align { vertical-align: text-top; }
// .mini { color: #bbb; font-size: small; vertical-align: top;}

.oddStyle{padding-left:0px;padding-right:15px}
.evenStyle{padding-left:15px;padding-right:0px}
.grey{background-color: rgb(236, 230, 230);}
.bottom{padding-bottom: 10px;padding-top:5px;margin-bottom:10px;}

