/*
* Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2
*
*/
a {
    color: #bbb;
    text-decoration: none;
}

#icon {
    margin-left: 25px;
}

.v-align {
    vertical-align: text-top;
}


.oddStyle {
    background-color: #f4f0ec;
}

.evenStyle {
    background-color: #fff;
}

.grey {
    background-color: rgb(236, 230, 230);
}

.bottom {
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.glyphicon {
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    #headerRow {
        display: none
    }
}

.btn {
    border-radius: 4px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #337ab7 !important;
}

.no-pad {
    padding-bottom: 0px;
}