<div class="container-fluid" style="background-color: white;color:blueviolet">

  <div class="row" style="margin-top:30px;margin-bottom: 30px;">
    <div class="col-md-3 hidden-xs hidden-sm" style="background-color: white;"></div>
    <div class="col-md-6" id="loginbox">
      <h1 style="color:#5090cc">Login to &quot;The Big Book Swap&quot;</h1>
      <hr>
      <div class="err" *ngIf="loginError">Failed to Login - Try again ...</div>

      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
        <div class="form-group">
          <label for="username" style="color:#5090cc">User Name:</label>
          <em *ngIf="loginForm.controls['username']?.invalid && 
      (loginForm.controls['username']?.touched || mouseoverLogin)">Required</em>
          <input (ngModel)="username" name="username" id="username" type="text" required class="form-control"
            placeholder="User Name..." />
        </div>
        <div class="form-group">
          <label for="password" style="color:#5090cc">Password:</label>
          <em *ngIf="loginForm.controls['password']?.invalid && 
      (loginForm.controls['password']?.touched || mouseoverLogin)">Required</em>
          <input (ngModel)="password" name="password" id="password" type="password" required class="form-control"
            placeholder="Password..." />
        </div>

        <div style="text-align: center;">
          <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm"></div>
  </div>

</div>