<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div [formGroup]="profileForm" class="col-md-12">
    <form (ngSubmit)="saveProfile()" autocomplete="off" novalidate>
     
      <div class="form-group">



        <div [formGroup]="profileForm" class="form-group">
          <div class="parent">
            <div class='child'>
              <mat-form-field class="display:inline" appearance="fill">
                <mat-label>Avatar</mat-label>

                <mat-select (selectionChange)="changeImageSource($event)" [formControl]="avatar" name="selectedavatar">
                  <mat-option *ngFor="let category of categories" [value]="category.viewValue">
                    <img height="40px" src="./assets/images/icons/{{ category.viewValue | lowercase }}.jpg" />
                    {{ category.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class='child'>
              <img class="display:inline" id="avimg" [src]="selectedavatar?.image" width="150px">

            </div>

          </div>
        </div>



      </div>


      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
    </form>
  </div>


</div>