/*
* Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2
*
*/
em {
  float: right;
  color: #E05C65;
  padding-left: 10px;
}

.err {
  color: #E05C65;
  padding-bottom: 5px;
}

#loginbox {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 5px 10px 8px 10px #aeb2eb;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #449d44 !important;
}

.btn {
  border-radius: 4px;
}