/*
* Written By: Lisa Daly (StudentID: 10570708) - DBS 2022 Final Project B8IT131_2122_TME2
*
*/
em {
    float: right;
    color: #ca121e;
    padding-left: 10px;
    padding-bottom: 10px;
}

.btn{
    border-radius: 4px;
    margin: 5px;
}
#newbookbox {
    border-radius: 25px;
    border: 2px solid #5090cc;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 5px 10px 8px 10px #aeb2eb;
}

.error input {
    background-color: #E3C3C5;
}

.error ::-webkit-input-placeholder {
    color: #999;
}


#thumb1 {
    float: right;
    margin-right: 10px;
    height: 150px;

}

#thumb1:hover {
    height: 400px;

}

.error ::-moz-placeholder {
    color: #999;
}

.error :-moz-placeholder {
    color: #999;
}

.error :-ms-input-placeholder {
    color: #999;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #337ab7 !important;
}

.addImage{
height:150px;
}

.glyphicon{
    vertical-align: middle;
    margin-right: 5px;
}
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited {
    background-color: #d3d9d3 !important;
}